// app global css in SCSS form

// ******************* GLOBAL CLASS ****************
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Bold.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//   font-family: "Poppins";
//   src: url("../assets/fonts/Poppins-Bold.ttf");
//   font-weight: 300;
//   font-style: normal;
// }

body {
  // background-color: #f5f5f5;
  // background-color: #fff;
  font-family: "Poppins";
  // color: #526484 !important;
  color: $grey-8 !important;
}

.container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.q-btn {
  font-weight: normal !important;
}

.q-input,
.q-select {
  .q-field__bottom {
    padding-left: 0 !important;
  }
}

.q-dialog-header {
  font-size: 1.2rem;
  font-weight: 300;
}

.q-page-header {
  font-size: 1.5rem;
  font-weight: 300;
}

.q-wp-100 {
  width: 100px;
}
.q-wp-120 {
  width: 120px;
}
.q-wp-140 {
  width: 140px;
}
.q-wp-150 {
  width: 150px;
}

.q-pl-30 {
  padding-left: 30px;
}

.q-label-error {
  font-size: 0.7rem;
  color: $red;
}

.q-table {
  tbody {
    td {
      height: 30px !important;
    }
  }
}

// ++Error
.error-back {
  .q-field__inner {
    .q-field__control {
      &::before {
        border: 2px solid red !important;
      }
    }
  }
}

// ****************** SideBar ****************
.q-item__section--avatar {
  &.icon-sidemenu {
    min-width: 30px !important;
  }
}

.container-sidebar {
  // background-color: $negative;
  // background-color: rgba(255, 65, 65, 0.95);
  background-color: $grey-2;
  // color: #fff !important;

  .item-subcategory {
    &.q-hoverable {
      .q-focus-helper {
        // background-color: #fff !important;
      }
      //
    }
  }

  .item-expand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .q-icon {
    //   color: #fff !important;
    // }
  }
}

// **************** SiginIn *******************
.q-label-input {
  font-size: 0.9rem;
  font-weight: 300;
}

// **************** Sub Category **************
.popup-category {
  max-height: 200px !important;
  .q-item {
    min-height: 30px !important;
  }
  border: 1px solid $grey-4;
}
.popup-category::-webkit-scrollbar {
  width: 0.5rem; /* width of the entire scrollbar */
}

.popup-category::-webkit-scrollbar-track {
  background: #e5e9f2; /* color of the tracking area */
}

.popup-category::-webkit-scrollbar-thumb {
  background-color: #b7c2d0; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

// ********************************************
// **************** BLOG **********************
// ********************************************

// ++ HEADER ++
// .item-category {
//   .q-hoverable:hover > .q-focus-helper {
//     opacity: 0 !important;
//   }
//   &:hover {
//     background-color: #fff !important;
//   }
// }

.q-no-hover {
  &.q-hoverable {
    &:hover {
      .q-focus-helper {
        opacity: 0 !important;
      }
    }
  }
  // &:hover {
  //   background-color: #fff !important;
  // }
}

.q-menu {
  box-shadow: none !important;
}

// ++++++ COLORS +++++++
.text-danger {
  color: #ff4141 !important;
}
.bg-danger {
  background: #ff4141 !important;
}

.text-main {
  color: #264081 !important;
}
.bg-main {
  background: #264081 !important;
}

.fw-bold {
  font-weight: 300;
}

// ++ MainPage
.hero {
  background-image: url(../img/pattern.png);
}

.bg-section-02 {
  background-image: url(../img/pattern02.jpg);
}

.gorea-menu .navbar-nav li a {
  color: white;
}

.gorea {
  position: absolute;
  width: 110%;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%) !important;
  pointer-events: none;
}

.gorea-menu .navbar-brand {
  max-width: 150px;
}

.divider {
  width: 100%;
  height: 42px;
  background-image: url(../img/divider.png);
}

.image-item {
  display: inline-block;
  position: relative;
  outline: 3px solid #264081;
}

.image-item span {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-style: italic;
  text-shadow: 2px 1px 2px rgba(38, 64, 129, 1);
  z-index: 2;
}

.image-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(38, 64, 129);
  background: linear-gradient(0deg, rgba(38, 64, 129, 1) 0%, rgba(38, 64, 129, 0) 50%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.icon-gorea {
  width: 48px;
  height: 48px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  font-size: 24px;
  line-height: 48px;
}

#scrollToTopBtn {
  width: 48px;
  height: 48px;
  background-color: rgb(197, 30, 31);
  color: white;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  display: none;

  -webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1400px) {
  .gorea {
    width: 120%;
    top: 60%;
    left: 60%;
  }
}

@media (max-width: 1200px) {
  .gorea {
    width: 150%;
    top: 50%;
    left: 70%;
  }
}

@media (max-width: 991px) {
  .gorea {
    width: 150%;
    top: 50%;
    left: 70%;
  }

  .navbar-brand img {
    max-width: 120px;
  }

  .image-item span {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .gorea {
    width: 180%;
    top: 55%;
    left: 83%;
  }
}

@media (max-width: 575px) {
  .navbar-collapse {
    background-color: rgb(197, 30, 31);
    margin-top: 10px;
  }

  .navbar-collapse li {
    border-bottom: solid 1px rgb(246, 126, 126);
  }

  .navbar-collapse li:last-child {
    border-bottom: none;
  }

  .navbar-collapse li a:hover {
    background-color: rgb(109, 1, 1);
  }

  .image-item span {
    font-size: 12px;
    line-height: normal;
  }
}

.menu-item {
  .q-hoverable {
    &:hover {
      .q-focus-helper {
        background: none !important;
        opacity: 0 !important;
      }
    }
  }
}
